* {
  margin: 0;
}

h1 {
  color: #666;
  text-align: center;
  margin: 50px 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 span {
  color: #999;
}
#array {
  margin: auto;
  margin-bottom: 40px;
  width: 80%;
  justify-content: center;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 250px;
  grid-auto-flow: row;
}
.template-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: #999 solid 1px;
  border-radius: 10px;
  width: 300px;
  transition: all 0.5s ease;
}
.template-div:hover {
  transform: scale(1.1);
  background-color: #222;
  color: #fff;
  box-shadow: 5px 10px 20px #000;
}

.template-img {
  width: 100px;
  border-radius: 1000px;
}
.template-name {
  font-weight: bold;
}
.template-description {
  color: #999;
}
.template-buttonFollow {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #3498db;
  border: 2px solid #2980b9;
  border-radius: 5px;
  transition: 0.3s ease, color 0.3s ease;
}
.template-buttonFollow:hover {
  background-color: #2980b9;
  color: #333;
}
